.circle{
    position: absolute;
    width: 214px;
    height: 212px;
    background: rgba(190, 5, 255);
    filter: blur(200px);
    border-radius: 200px;
}

.button-labels label {
    display: none;
    
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30%;
    width: 6%;
}

input[type=checkbox].hidden{
    opacity: 0;
}